<?xml version="1.0" encoding="utf-8" ?>
<configuration>


   <configSections>
   </configSections>
 

  <appSettings>
    <add key="username" value="coreit" />
    <add key="password" value="qQrqFuGOsHO8vmvV" />
    <add key="baseUri" value="https://81.21.224.5/" />
    <add key="highest_rep_dest_score" value="17"/>
    <add key="port_number" value="514"/>
  </appSettings> 
  
  <connectionStrings>
    <add name="BlacklistDBConn"
          providerName="System.Data.ProviderName"
     connectionString="Data Source=COREIT-DRIFTSIN\SQLEXPRESS;Initial Catalog=Coreit_clavister_blacklist;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
  </connectionStrings>
</configuration>